extends ../layout

block content
  h1 Edit Product

  form(method="POST", action=`/admin/products/edit/${product._id}`)
    div
      label Name
      input(type="text", name="name", value=product.name, required)

    div
      label Price
      input(type="number", name="price", value=product.price, required)

    div
      label Category
      input(type="text", name="category", value=product.category, required)

    div
      label Description
      textarea(name="description")= product.description

    br
    button(type="submit") Update Product
